# 编译产物
build/**
!build/.gitkeep

lib/**
!lib/.gitkeep

bin/**
!bin/.gitkeep

test/**/*.out


# 配置文件
.clang-format
test/**/.clangd
config/mysql.cnf

# 日志文件
**/*.log

# 文件存储运行时数据
filestore/data_node*/
downloads/

# 其他
.claude/
docs/*
!docs/filestore/
CLAUDE.md